NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=laiza-6aace.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=laiza-6aace
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=laiza-6aace.firebasestorage.app
